.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 10px;
  margin: 10px; /* Adjusted margin for equal spacing */
  background-color: rgba(75, 85, 99, 0.5); /* Tailwind's gray-700 with transparency */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: rgba(31, 41, 55, 0.7); /* Tailwind's gray-800 with transparency */
}

.scroll-button svg {
  width: 24px;
  height: 24px;
}

#scroll-left {
  left: 10px; /* Adjusted left position */
}

#scroll-right {
  right: 10px; /* Adjusted right position */
}

#card-container.no-scrollbar::-webkit-scrollbar {
  display: none;
}

#card-container.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card.hidden {
  display: none;
}

@media (max-width: 640px) {
  .card {
    flex-basis: 100%; /* Full width for mobile */
    margin: 0 10px; /* Add some margin */
  }
}
