{{define "main"}}
<article>
  <header class="mb-4 bg-gray-200 dark:bg-gray-900">
    <span class="py-96">
      <h1 class="py-16 text-5xl font-black text-center text-gray-700 dark:text-gray-400 capitalize">
        {{ .Title }}
      </h1>
    </span>
  </header>
  <!-- " {{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  <div class="max-w-2xl px-6 pt-6 pb-16 mx-auto prose dark:prose-invert dark:text-gray-200 text-gray-900">

    <div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50 md:px-1.5">
      <div class="px-4 text-gray-900 dark:text-white not-prose dark:text-zinc-200">
        <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-1">
          <div class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-gray-50 dark:bg-gray-900">
            <a href="{{.Permalink}}">
              {{ with .Params.featured_image }}
              {{ with resources.Get . }}
              {{ $postimage := (.Resize "500x webp q90").RelPermalink }}
              <img src="{{ $postimage }}" class="object-fill overflow-hidden rounded-t-lg" width="100%" height="" loading="lazy" alt="{{ .Title }}" />
              {{ end }}
              {{ end }}
            </a>
            <div class="p-6">
              <div class="flex-1">
                <p class="block mt-2 text-3xl font-black text-primary-600 dark:text-primary-300">
                  {{ .Params.price }}
                </p>
                <ul class="mt-3 list-disc pl-5 text-base text-gray-900 dark:text-gray-300" style="list-style-type: disc; padding-left: 1.25rem;">
                  {{ range .Params.summaries }}
                  <li> {{ . }} </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{.Content}}

  </div>
</article>
{{end}}
