<!-- Vision and mission section -->
<div class="relative my-4">
  <div class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:items-center lg:gap-24 lg:px-8">

    <!-- Left container -->
    <div class="relative sm:py-8 lg:py-0 lg:flex lg:justify-center">
      <div class="relative w-full h-auto px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:px-0 lg:py-0">
        <div class="overflow-hidden shadow-xl rounded-2xl">
          {{ partial "home-feature.html" . }}
        </div>
      </div>
    </div>

    <!-- Right container -->
    <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0 lg:flex lg:justify-center">
      <div class="sm:pt-6 md:pt-12 lg:pt-20">
        <h2 class="text-3xl font-bold tracking-tight text-primary-600 dark:text-primary-100 sm:text-4xl">
          {{ .Site.Params.P1.Heading }}
        </h2>
        <div class="mt-6 text-gray-900 dark:text-white">
          <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
            {{ range .Site.Params.P1.Content }}
            <p class="text-lg text-gray-900 dark:text-white">
              {{ .text }}
            </p>
            {{ end }}
           <button type="cta2" class="block px-5 py-3 text-base font-medium text-gray-200 bg-gray-700 border border-transparent rounded-md shadow hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10" onclick="location.href ={{ .Site.Params.P1.forward }}" style="width:200px">
             {{ .Site.Params.P1.Button }}
           </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
