<div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50">
  <div class="px-4 not-prose">
    <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
      {{ range .Paginator.Pages }}
      <div class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-gray-50 dark:bg-gray-900">
        <a href="{{.Permalink}}">
          {{ with .Params.featured_image }}
          {{ with resources.Get . }}
          {{ $postimage := (.Resize "500x webp q90").RelPermalink }}
          <img src="{{ $postimage }}" class="object-fill overflow-hidden rounded-t-lg" width="100%" height=""
             loading="lazy" alt="{{ .Title }}" />

          {{ end }}
          {{ end }}
        </a>
        <div class="p-6">
          <div class="flex-1">
            <a href="{{.Permalink}}"
              class="block mt-2 text-3xl font-black text-primary-600 dark:text-primary-300 hover:text-primary-600 dark:hover:text-primary-500 hover:underline">
              {{.Title}}
            </a>
            <ul class="mt-3 list-disc pl-5 text-base text-gray-900 dark:text-gray-300" style="list-style-type: disc; padding-left: 1.25rem;">
              {{ range .Params.summaries }}
              <li> {{ . }} </li>
              {{ end }}
            </ul>
          </div>
          <div class="flex pt-6 font-large text-gray-900 dark:text-gray-200 text-md">
            <span class="pr-2 font-black">Harga:</span>
            <span> {{ .Params.price }} </span>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
