{{ define "main" }}
<main>

  <link rel="stylesheet" href="{{ "css/carousel.css" | relURL }}">
  <script src="{{ "js/carousel.js" | relURL }}"></script>

  <!-- Main content here -->
  {{ partial "home-header.html" . }}

  <!-- Vision and mission section -->
  {{ partial "home-vision-mission.html" . }}

  <!-- The rationale behind Konsulin section -->
  {{ partial "home-rationale.html" . }}

  <!-- Partners section -->
  {{ partial "home-partners.html" . }}

  <!-- CTA section -->
  {{ if not .Site.Params.Disable_stay_uptodate}}
  {{ partial "home-cta.html" . }}
  {{ end }}

</main>
{{ end }}
