{{ define "main" }}
<main>
  <!-- Main content here -->
  {{ partial "home-header.html" . }}

  <!-- Vision and mission section -->
  {{ partial "home-vision-mission.html" . }}

  <!-- The rationale behind Konsulin section -->
  {{ partial "home-rationale.html" . }}

  <!-- Partners section -->
  {{ partial "home-partners.html" . }}

  <!-- Blog section -->
  {{ partial "home-blog.html" . }}

  {{ if not .Site.Params.Disable_stay_uptodate}}
  <!-- CTA section -->
  {{ partial "home-cta.html" . }}
</main>
{{ end }}
